In [5]:
from pyspark.sql.types import StructType, IntegerType, FloatType, StructField, StringType
spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()
schemaString = "transaction_id customer_id total_amount item_count description"
customSchema = StructType([
    StructField("transaction_id", IntegerType(), True),        
    StructField("customer_id", IntegerType(), True),
    StructField("total_amount", FloatType(), True),
    StructField("item_count", IntegerType(), True),
    StructField("description", StringType(), True),
])

In [7]:
df = spark.read.load('test.csv', format="csv", header="true", sep=',', schema=customSchema)

In [8]:
df.show()

+--------------+-----------+------------+----------+--------------------+
|transaction_id|customer_id|total_amount|item_count|         description|
+--------------+-----------+------------+----------+--------------------+
|             2|      24567|   119.68945|        10|yg5osqfmtqlreme6b...|
|             3|      10311|    563.8975|        10|9yc74al32gyx4hmpu...|
|             4|      14630|    737.5072|         4|bdnglgyulcln7zl9i...|
|             5|      38528|   520.28046|         3|9nvr6vb2ouppqqv8l...|
|             6|       4505|    694.3501|         6|j6eoz2r5swlpjpxkq...|
|             7|      12466|    283.8117|         8|wrwfqu49uakdxqq2c...|
|             8|      16572|    331.2615|         6|7bq937yzswhhlejos...|
|             9|      18696|    380.0146|         1|v77phaie3detj3tm5...|
|            10|      11084|    781.5895|         1|f5sj0wmi9pmmmkc5w...|
|            11|       8115|    958.5794|         2|igxkh8nzn7iralfn4...|
|            12|      34634|    23.25762|         5|vvtpchy4tddjdnige...|
|            13|      36239|    302.1748|         9|iyo7s15aib3ll9ug3...|
|            14|      45097|   206.60675|         5|dlcq63uctjfrtyjvc...|
|            15|      23428|    907.9976|         7|hura8k4tv7w8u6hbj...|
|            16|      15586|    846.5182|         2|2qx42jju6gn2i3tw6...|
|            17|      18846|   329.52203|         8|15hrrpvzsz7isjvip...|
|            18|      32477|    235.0295|         5|560j5i030xmykpyao...|
|            19|      14422|   643.40985|         4|cgrp95ubdh6l0z978...|
|            20|      15024|    948.1538|         3|nhagydrshd892xw6i...|
+--------------+-----------+------------+----------+--------------------+

In [10]:
T1 = df.filter(df['total_amount'] > 200).show()

+--------------+-----------+------------+----------+--------------------+
|transaction_id|customer_id|total_amount|item_count|         description|
+--------------+-----------+------------+----------+--------------------+
|             3|      10311|    563.8975|        10|9yc74al32gyx4hmpu...|
|             4|      14630|    737.5072|         4|bdnglgyulcln7zl9i...|
|             5|      38528|   520.28046|         3|9nvr6vb2ouppqqv8l...|
|             6|       4505|    694.3501|         6|j6eoz2r5swlpjpxkq...|
|             7|      12466|    283.8117|         8|wrwfqu49uakdxqq2c...|
|             8|      16572|    331.2615|         6|7bq937yzswhhlejos...|
|             9|      18696|    380.0146|         1|v77phaie3detj3tm5...|
|            10|      11084|    781.5895|         1|f5sj0wmi9pmmmkc5w...|
|            11|       8115|    958.5794|         2|igxkh8nzn7iralfn4...|
|            13|      36239|    302.1748|         9|iyo7s15aib3ll9ug3...|
|            14|      45097|   206.60675|         5|dlcq63uctjfrtyjvc...|
|            15|      23428|    907.9976|         7|hura8k4tv7w8u6hbj...|
|            16|      15586|    846.5182|         2|2qx42jju6gn2i3tw6...|
|            17|      18846|   329.52203|         8|15hrrpvzsz7isjvip...|
|            18|      32477|    235.0295|         5|560j5i030xmykpyao...|
|            19|      14422|   643.40985|         4|cgrp95ubdh6l0z978...|
|            20|      15024|    948.1538|         3|nhagydrshd892xw6i...|
+--------------+-----------+------------+----------+--------------------+

In [ ]:
Q1 = spark.sql("""
    SELECT *
    FROM transactions
    WHERE total_amount > 200
    """)

In [ ]:
Transactions

In [ ]:
# SQL can be run over DataFrames that have been registered as a table.
results = spark.sql("SELECT * FROM Transactions")

results.show()

In [ ]:
# df.option("header", "true").schema(schema).load("test.csv")

In [ ]:

# df.select('transaction_id')